html{
    background-image: url("../medya/ap1.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

header img{
width: 120px;
height: 120px;
}
header {
text-align: center;
}
body .TableOuter{
padding: 30px;
margin: 0 auto;
background-color: rgb(181, 206, 228);
width: 400px;
text-align: center;
border-radius: 5px;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

body .TableOuter div{
margin: 10px;
}

body .TableOuter button{
margin: 10px;
}
input[type="text"],
input[type="password"]{
width: 70%;
height: 36px;
border-radius: 5px;
text-align: center;
font-size: 20px;
}
button.sub1{
box-sizing: border-box;
box-shadow: 5px 5px 4px gray;
font-size: 25px;
font-weight: bolder;
color: white;
border: none;
border-radius: 5px;
width: 150px;
height: 50px;
background-color: rgb(14, 184, 65);
}
button.sub1:hover{
background-color: rgb(14, 50, 40);
}
input.sub2{
box-sizing: border-box;
box-shadow: 5px 5px 4px gray;
font-size: 20px;
font-weight: bolder;
color: white;
border: none;
border-radius: 5%;
width: 100px;
height: 33px;
background-color: red;
margin: 10px;
}
input.sub2:hover{
background-color: tomato;
}
